@model ProjetoWeb.Models.GrupoUsuario

@{
    ViewBag.Title = "Delete";
}

<h2>Remover </h2>

<h3 class="text-center text-danger"> Você tem certeza que deseja remover ?</h3>
<div>
    <h4>Grupo de Usuário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
